In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

How to get the data:

https://www.arb.ca.gov/app/ghg/2000_2018/ghg_sector.php?_ga=2.105667908.695302592.1603322663-2069911443.1599676985  
Main Sector: Residential  
Sub Sector Level 1: Household Use  
--> [Get Data]

In [13]:
ca_ghg = pd.read_csv('../../data/ghg_sector_data.csv', skiprows=9)
ca_ghg.head()

,Inventory Accountin,Main Sector,Sub Sector Level 1,Sub Sector Level 2,Sub Sector Level 3,Main Activity,Activity Subset,GHG,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Coal,CH4,0.000017,No Data,...,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Coal,CO2,0.005791,No Data,...,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Coal,N2O,0.000030,No Data,...,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
3,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Distillate,CH4,0.000067,0.0000845500,...,0.0001418375,0.0000604650,0.0000454875,0.0000257825,0.0000382750,0.0000388550,0.0000331825,0.0000312375,0.0000226550,0.0000276750
4,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Distillate,CO2,0.066414,0.0833767351,...,0.1398696019,0.0596262562,0.0448574796,0.0254243417,0.0377435630,0.0383151259,0.0327219749,0.0308031566,0.0223419847,0.0272921275

In [15]:
ca_co2 = ca_ghg[ca_ghg['GHG'] == 'CO2']
ca_co2.head()

,Inventory Accountin,Main Sector,Sub Sector Level 1,Sub Sector Level 2,Sub Sector Level 3,Main Activity,Activity Subset,GHG,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Coal,CO2,0.005791,No Data,...,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
4,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Distillate,CO2,0.066414,0.0833767351,...,0.1398696019,0.0596262562,0.0448574796,0.0254243417,0.0377435630,0.0383151259,0.0327219749,0.0308031566,0.0223419847,0.0272921275
7,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Kerosene,CO2,0.119672,0.1492445520,...,0.0731350080,0.0613485360,0.0469936080,0.0202024800,0.0193294080,0.0250957440,0.0186289200,0.0355827600,0.0215730000,0.0215730000
10,Included,Residential,Household Use,Not Specified,None,Fuel combustion,LPG,CO2,1.126649,0.7733314200,...,1.9011142800,1.9980405000,1.8936196600,1.4314094400,1.4372665800,1.1842759200,1.3304525000,1.4489178800,1.3916060800,1.5164324400
13,Included,Residential,Household Use,Not Specified,None,Fuel combustion,Natural gas,CO2,27.947372,27.3511623000,...,26.2331692900,26.9571578400,27.4865146700,25.7327083500,26.4989291800,21.5621198600,21.8747495700,22.7750129800,23.5917927600,23.2019419000

In [5]:
sm_ghg = pd.read_csv('../../data/RICAPS_Water_Contribution_to_Greenhouse_Gas_Emissions.csv')
sm_ghg.head()

,City,Date,Wastewater Treatment Emissions,Water Use Emissions,Water Use,Location 1
0,Millbrae,12/31/2010 12:00:00 AM,530.0,311.0,8.087907e+08,"Millbrae, CA\n(37.603633, -122.397199)"
1,East Palo Alto,12/31/2011 12:00:00 AM,655.0,192.0,7.358948e+08,"East Palo Alto, CA\n(37.464162, -122.139284)"
2,Burlingame,12/31/2012 12:00:00 AM,838.0,427.0,1.450735e+09,"Burlingame, CA\n(37.584195, -122.366265)"
3,Redwood City,12/31/2012 12:00:00 AM,1811.0,1205.0,4.095002e+09,"Redwood City, CA\n(37.484778, -122.22815)"
4,San Bruno,12/31/2005 12:00:00 AM,NaN,NaN,NaN,"San Bruno, CA\n(37.627277, -122.416148)"

In [31]:
coords = sm_ghg['Location 1'].apply(lambda s: np.array(re.findall('(-?\d{2,3}.\d+)', s), dtype=np.float))
sm_ghg.loc[:, 'Latitude'] = coords.map(lambda x: x[0])
sm_ghg.loc[:, 'Longitude'] = coords.map(lambda x: x[1])
sm_ghg.head()

,City,Date,Wastewater Treatment Emissions,Water Use Emissions,Water Use,Location 1,Longitude,Latitude
0,Millbrae,12/31/2010 12:00:00 AM,530.0,311.0,8.087907e+08,"Millbrae, CA\n(37.603633, -122.397199)",-122.397199,37.603633
1,East Palo Alto,12/31/2011 12:00:00 AM,655.0,192.0,7.358948e+08,"East Palo Alto, CA\n(37.464162, -122.139284)",-122.139284,37.464162
2,Burlingame,12/31/2012 12:00:00 AM,838.0,427.0,1.450735e+09,"Burlingame, CA\n(37.584195, -122.366265)",-122.366265,37.584195
3,Redwood City,12/31/2012 12:00:00 AM,1811.0,1205.0,4.095002e+09,"Redwood City, CA\n(37.484778, -122.22815)",-122.228150,37.484778
4,San Bruno,12/31/2005 12:00:00 AM,NaN,NaN,NaN,"San Bruno, CA\n(37.627277, -122.416148)",-122.416148,37.627277

In [8]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
                   dtype={"fips": str})

import plotly.express as px

fig = px.choropleth(df, geojson=counties, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="california",
                           labels={'unemp':'unemployment rate'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ModuleNotFoundError: No module named 'plotly'

In [9]:
!pip install plotly

^C